body {
    font-family: "Open Sans", sans-serif; 
    color: #64655F; 
    background-color: #F7F3F6;   
}

h1, h2, h3 {
    font-family: "Dosis", cursive;    
}

h2 {
    color: #8D6C93
}

.special-box {
    padding: 60px;
    background-image: url(../portfolio-images/stars.gif);
    color: white;
}

header h2 { 
    color: #CEC8FF;
}

footer {
    background-image: linear-gradient(#CBBBCE, white);
    padding: 20px 0px; 
}

.row-content {
    padding: 50px 0px; 
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #898BBC;
}

.accordion-button {
    background-color: #d3d3d3;
  }

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}
.carousel {
    border: solid #5637DD;
}

nav li {
    font-family: "Pixelify Sans", sans-serif;
    font-size: x-large;
}

a {
    color: #898BBC;
}

a:hover {
    color: #64655F;
}

footer {
    color: #64655F;
}

.work-btn {
    background-color: #CBBBCE;
}

.contact-btn {
    background-color: #CBBBCE;
}

.work-btn:hover {
    background-color: #AFA3D5;
}

.contact-btn:hover {
    background-color: #AFA3D5;
}

#animation {
	animation: pulse 5s;
}

#animation:after {
	content: "";
	animation: spin 70s linear;
    animation-iteration-count: infinite;
}

@keyframes spin {
  0% { content:"and a bona-fide team-player.🏅"; }
  20% { content:"and a serial hobbyist.📚"; }
  40% { content:"and a canine enthusiast.🐶"; }
  60% { content:"and a tabletop board gamer.🎲"; }
  80% { content:"and an occasional quilter.🪡"; }
  100% { content:"and a restaurant frequenter.🍜"; }
}

#special-image {
    height: 40%;
    width: 40%;
}

footer a:link {
    text-decoration: none;
}

